.for_walls{
    background-color: #F3F3F3;
    padding-bottom: 80px;
    .for_walls_block{
        .section_title{
            margin-bottom: 60px;
        }
        .for_walls_top{
            margin-bottom: 60px;
            display: flex;
            gap: 0 25px;
            @media #{$big_tab}{
                max-width: 700px;
                overflow: auto;
                gap: 0;
                padding-bottom: 30px;
            }
            .for_walls_top_item{
                padding: 8px 30px 8px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                &:hover{
                    border: 0.5px solid #BF9A45;
                    background-image: url(../imgs/x.svg);
                    background-repeat: no-repeat;
                    background-position: calc(100% - 10px) center;
                }
                a{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #BF9A45;
                    display: flex;
                    gap: 0 10px;
                    align-items: center;
                    @media #{$big_tab}{
                        font-size: 14px;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
        }
        .decors{
            display: flex;
            gap: 0 70px;
            justify-content: space-between;
            @media #{$laptop}{
                gap: 0 20px;
            }
            .decors_left{
                @media #{$big_tab}{
                    display: none;
                }
            }
            .decors_right{
                width: 75%;
                @media #{$big_tab}{
                    width: 100%;
                }
                .decors_right_top{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 45px;
                    @media #{$big_mobile}{
                        margin-bottom: 30px;
                    }
                    @media #{$small_mobile}{
                        flex-direction: column;
                        gap: 20px;
                    }
                    .filtr{
                        display: none;
                        @media #{$big_mobile}{
                            display: block;
                            nav{
                                ol{
                                    li{
                                        a{
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 22px;
                                            color: #272727;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .input-group{
                        width: 220px;
                        height: 42px;
                        opacity: 0.75;
                        @media #{$small_mobile}{
                            width: 100%;
                        }
                        .input-group-text{
                            background: #F3F3F3;
                            border-color: #272727;
                            border-radius: 0;
                        }
                        .form-control{
                            background: #F3F3F3;
                            border-color: #272727;
                            border-radius: 0;
                            outline: none;
                            border-left: none;
                            &::placeholder{
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #272727;
                                opacity: 0.75;
                            }
                        }
                    }
                    .sort{
                        @media #{$big_mobile}{
                            display: none;
                        }
                        a{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #272727;
                            span{
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .decor_fish{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 30px;
                    margin-bottom: 60px;
                    @media #{$laptop}{
                        gap: 25px 20px;
                    }
                    @media #{$big_mobile}{
                        gap: 30px 0;
                        flex-direction: column;
                    }
                    .fish_item{
                        display: flex;
                        flex-direction: column;
                        width: calc(33% - 20px);
                        @media #{$laptop}{
                            width: calc(33% - 13px);
                        }
                        @media #{$big_mobile}{
                            width: 100%;
                        }
                        // &:nth-child(2n - 6){
                        //     @media #{$big_mobile}{
                        //         display: none;
                        //     }
                        // }
                        &:nth-child(n + 7){
                            @media #{$big_mobile}{
                                display: none;
                            }
                        }
                        a{
                            display: block;
                            margin-bottom: 10px;
                            img{
                                
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @media #{$big_mobile}{
                                    height: 200px;
                                }
                            }
                        }
                        .title{
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 120%;
                            color: #272727;
                            margin-bottom: 5px;
                        }
                        .subprice{
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            color: #272727;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
        .for_walls_actions{
            display: flex;
            gap: 0 20px;
            width: 100%;
            justify-content: end;
            @media #{$big_mobile}{
                gap: 20px 0;
                flex-direction: column;
                width: 100%;
            }
            .delivery_btn{
                color: #F3F3F3;
                width: calc(37.5% - 10px);
                @media #{$big_mobile}{
                    width: 100%;
                }
            }
            .call_measurer_btn{
                filter: none;
                width: calc(37.5% - 10px);
                @media #{$big_mobile}{
                    width: 100%;
                }
            }
        }
    }
}
.paginations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    .pagination_left{
        ul{
            display: flex;
            align-items: center;
            gap: 0 10px;
            li{
                a{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    text-decoration-line: underline;
                    color: #BF9A45;
                    img{
                        width: 25px;
                        &.left_pg{
                            transform: rotate(180deg);
                            margin-right: 40px;
                            @media #{$big_mobile}{
                                margin-right: 20px;
                            }
                        }
                        &.right_pg{
                            margin-left: 40px;
                            @media #{$big_mobile}{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination_right{
        a{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #000000;
            @media #{$big_mobile}{
                font-size: 12px;
            }
        }
        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #000000;
            @media #{$big_mobile}{
                font-size: 12px;
            }
        }
    }
}