header{
    background: #272727;
    padding: 20px 0 27px 0;
    .header_block{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 0 30px;
        position: relative;
        @media #{$laptop}{
            gap: 0 75px;
        }
        nav{
            @media #{$tab}{
                display: none;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 0 30px;
                @media #{$laptop}{
                    gap: 0 20px;
                }
                @media #{$tab}{
                    display: none;
                }
                li{
                    
                    &:nth-child(2n + 1){
                        @media #{$laptop}{
                            display: none;
                        }
                    }
                    a{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: center;
                        color: #F3F3F3;
                        transition: all ease 0.4s;
                        &:hover{
                            color: #BF9A45;
                        }
                        
                    }
                }
            }
        }
        .header_actions{
            display: flex;
            align-items: center;
            gap: 0 20px;
            background: #F3F3F3;
            padding: 18px 30px 25px 16px;
            position: absolute;
            top: -20px;
            right: 0;
            &.bg_white{
                background: #fff;
                @media #{$big_tab}{
                    background: #272727;
                }
            }
            @media #{$tab}{
                // width: 325px;
                height: 115px;
                justify-content: flex-end;
                width: 35%;
            }
            @media #{$big_tab}{
                background: transparent;
            }
            ul{
                display: flex;
                flex-direction: column;
                @media #{$tab}{
                    display: none;
                }
                li{
                    a{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: #272727;
                        transition: all ease 0.4s;
                        &:hover{
                            color: #BF9A45;
                        }
                    }
                }
            }
        }
    }
}
.bars_menu{
    display: none;
    @media #{$tab}{
        display: block;
        a{
            display: flex;
            flex-direction: column;
            gap: 10px 0;
            span{
                width: 42px;
                height: 3px;
                background: #BF9A45;
            }
        }
    }
    
}
.menu_mobile{
    position: fixed;
    z-index: 1001;
    background-color: #000;
    top: 115px;
    left: -100%;
    width: 100%;
    padding: 20px 15px;
    flex-wrap: wrap;
    transition: all ease 0.3s;
    height: calc(100% - 115px);
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        @media #{$big_mobile}{
            gap: 20px 0;
        }
        @media #{$mobile}{
            gap: 15px 0;
        }
        li{
           
            a{
                font-weight: 400;
                font-size: 25px;
                line-height: 19px;
                text-align: center;
                color: #BF9A45;
                font-family: 'Montserrat', sans-serif;
                padding: 25px 30px;
                border: 1px solid #BF9A45;
                border-radius: 20px;
                display: block;
                &:hover{
                    color: #F3F3F3;
                }
                &:active{
                    color: #fff;
                }
                @media #{$big_mobile}{
                    font-size: 20px;
                    padding: 20px 15px;
                }
                @media #{$mobile}{
                    font-size: 16px;
                    padding: 15px;
                }
            }
        }
    }
    @media #{$tab}{
        &.show{
            left: 0;
            
        }
        
    }
}
.tab_menu{
    display: none;
    @media #{$tab}{
        display: flex;
        align-items: center;
        gap: 0 20px;
        ul{
            display: flex;
            flex-direction: column;
            li{
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #F3F3F3;
                a{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #F3F3F3;
                }
            }
        }
    }
    @media #{$big_tab}{
        display: none;
    }
}