.for_walls_block{
    position: relative;
}
.for_walls_block.has_scrollbar::after{
    content: '';
    display: block;
    width: 30px;
    position: absolute;
    height: calc(100% - 10px);
    right: -30px;
    top: 0;
    // background-color: #fff;
    // box-shadow: -5px 0 5px 0 rgba(0,0,0,.1);
}
/* width */
.for_walls_top::-webkit-scrollbar {
    background-color: #fff;
}
  
/* Track */
.for_walls_top::-webkit-scrollbar-track {
    // background: #F2F3F4;
    background: #BF9A45;
    border-bottom: 8px solid #F3F3F3;
    border-top: 8px solid #F3F3F3;
} 
   
  /* Handle */
  .for_walls_top::-webkit-scrollbar-thumb {
    background: #BF9A45;
    border-radius: 20px;
    /* width: 39px; */
    height: 24px;
  }