.white_flowers{
    padding-top: 70px;
    background-color: #F3F3F3;
    .white_flowers_block{
        display: flex;
        gap: 0 60px;
        @media #{$big_tab}{
            gap: 30px 0;
            flex-direction: column;
        }
        .white_flowers_left{
            width: 50%;
            @media #{$big_tab}{
                width: 100%;
            }
        }
        .white_flowers_content{
            .text{
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 30px;
                line-height: 150%;
                color: #272727;
                margin-bottom: 30px;
            }
            .subtitle{
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #272727;
                margin-bottom: 12px;
            }
            .date{
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #272727;
                margin-bottom: 45px;
                opacity: 0.5;
            }
            .white_flowers_action{
                a{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #272727;
                    padding: 10px 15px;
                    border: 1px solid #272727;
                    display: inline-block;
                    text-align: center;
                    transition: all ease 0.5s;
                    &:hover{
                        color: #F3F3F3;
                        background-color: #272727;
                    }
                    
                }
            }
        }
    }
}